<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Membre médithèque</title>
</head>
<body>
<h1>Médiathèque "Notre livre, notre média"</h1>
<h2>Près en court</h2>
<ul>
    {% for membre in emprunteurs_et_livres %}
    <li>Nom de l'emprunteur : {{ membre.emprunteur.name }}</li>
    <span>Livre emprunté :</span>
    <ol>
        {% for livre in membre.livres_empruntes %}
            {% for livre_name, date_emprunt in membre.dates_emprunt_livres.items %}
                {% if livre.name == livre_name %}
                    <li>{{ livre.name }} - Emprunté le {{ date_emprunt }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ol>
    <br>
    <span>Dvd emprunté :</span>
    <ol>
        {% for dvd in membre.dvds_empruntes %}
            {% for dvd_name, date_emprunt in membre.dates_emprunt_dvds.items %}
                {% if dvd.name == dvd_name %}
                    <li>{{ dvd.name }} - Emprunté le {{ date_emprunt }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ol>
    <br>
    <span>Cd emprunté :</span>
    <ol>
        {% for cd in membre.cds_empruntes %}
            {% for cd_name, date_emprunt in membre.dates_emprunt_cds.items %}
                {% if cd.name == cd_name %}
                    <li>{{ cd.name }} - Emprunté le {{ date_emprunt }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ol>
    <br>
    <span>Jeu emprunté :</span>
    <ol>
        {% for jeu in membre.jeux_empruntes %}
            <li>{{ jeu.name }}</li>
        {% endfor %}
    </ol>
    <br>
    {% endfor %}
</ul>

</body>
</html>