{% extends 'Layout/base.html' %}

{%  block title %}
    Pret des médias
{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Soumettre</button>
</form>
{% if message %}
    <p>**** ATTENTION : {{ message }} ****</p>
{% endif %}

{% if message_emprunt_livre or message_emprunt_dvd or message_emprunt_cd or message_emprunt_jeu %}
    <p>
        {% if message_emprunt_livre %} {{ message_emprunt_livre }} {% endif %} <br>
        {% if message_emprunt_dvd %} {{ message_emprunt_dvd }} {% endif %} <br>
        {% if message_emprunt_cd %} {{ message_emprunt_cd }} {% endif %} <br>
        {% if message_emprunt_jeu %} {{ message_emprunt_jeu }} {% endif %}
    </p>
{% endif %}

{% endblock %}
